{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid px-4">
  {% include  'includes/alert.html' %}
    <h1 class="py-2">Enrollment</h1>
    

    <div class="row">
        <div class="col-xl-7">
            
           <!--form-->
           <div class="card-body py-2 px-md-2">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example1">Rollno</label>
                    {{form.stud_roll_no}}
                    
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example2">Name</label>
                  {{form.stud_name}}

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example1">Email</label>
                   <!-- <input type="text" id="form3Example1" class="form-control" /> -->
                   {{form.stud_email}}
                    
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example2">Phone Number</label>
                    {{form.stud_phone}}
                  </div>
                </div>
              </div>
            
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example1">Admission Year</label>
                    {{form.year_of_admission}}
                    
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example2">Div</label>
                    {{form.stud_div}}

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example1">Branch</label>
                    {{form.branch}}
                    
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example2">Finger Id</label>
                  {{form.finger_id}}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    {{form.stud_profile}}
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <button type="submit" class="btn btn-primary">
                      Enroll it
                    </button>
                  </div>
                </div>
              </div>



              
             

              
            

             
            </form>
          </div>

           <!--form end-->


        </div>
        <div class="col-xl-5">
            <div class="p-5">
                <img src="{% static "img/enroll.png" %}" class="img-fluid" alt="Responsive image">
            </div>
        </div>
</div>

{% endblock %}