{% extends "base.html" %}
{% load static %}
{% block content %}

<script src="{% static 'attendance/table2excel.js' %}"> </script>
<script src="{% static 'attendance/script.js' %}"> </script>

<div class="container-fluid px-4">
   

    <h1 class="mt-4">Subject Wise Attendance</h1>


    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">List</li>
    </ol>

  
    <div class="card mb-4">
        <div class="card-header">
          <form method="post" id="view_form">

             <!--Filter Row1 -->
            <div class="container">
                {% csrf_token %}
                <div class="d-flex justify-content-start">
                <label for="admission_year" class="my-1">Select Year</label>
                <select  class="mx-2  rounded" name="admission_year" id="admission_year">
                  <option value="">Admission Year</option>
                  <option value="2020">2023</option>
                  <option value="2022">2022</option>
                  <option value="2021">2021</option>
                  <option value="2020">2020</option>
                  <!-- Add more options as needed -->
                </select>
                
                <label for="branch" class="mx-1 my-1">Branch</label>
                  <select  class="mx-2  rounded" name="branch" id="branch">
                    <option value="">Branch</option>
                    <option value="IT">IT</option>
                    <option value="CO">CO</option>
                    <option value="EXTC">EXTC</option>
                    <option value="BIOM">BIOM</option>
                </select>

                <label for="branch" class="mx-1 my-1">Branch</label>
                  <select  class="mx-2  rounded" name="branch" id="branch">
                    <option value="">Branch</option>
                    <option value="IT">IT</option>
                    <option value="CO">CO</option>
                    <option value="EXTC">EXTC</option>
                    <option value="BIOM">BIOM</option>
                </select>

                <label for="sem" class="mx-1 my-1">Semester</label>
                <select  class="mx-2  rounded" name="branch" id="branch">
                  <option value="">Select Semester</option>
                  <option value=True>Even</option>
                  <option value=False>Odd</option>
                </select>

                <label for="subject" class="mx-1 my-1">Subject</label>
                <input type="text" class="mx-2  rounded" name="subject" placeholder="Enter Subject"/ >

              </div>

              <!--Filter Row2 -->
              <div class="d-flex justify-content-start mt-2">
                <label for="admission_year" class="mx-2 my-1"> Division  </label>
                <select  class="mx-2  rounded" name="admission_year" id="admission_year">
                  <option value="">Select Division</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <!-- Add more options as needed -->
                </select>
                
                <label for="branch" class="mx-2 my-1"> <b>Durations</b></label>
                <label for="branch" class="mx-4 my-1">From</label>
                <input  class="mx-2 rounded" type="date" id="start_date" name="start_date">

                <label for="branch" class="mx-4 my-1">To</label>
                <input  class="mx-2 rounded" type="date" id="end_date" name="end_date">


                <button type="submit" id="view_form_btn" class="btn btn-primary mx-5">Filter</button>

               

              </div>

              <form>

            </div>
            
        </div>

        <div class="card-body">
          <table class="table">
              <thead class="thead-dark">
                  <tr>
                      <th>Rollno</th>
                      <th>Name</th>
                      <th hidden>Branch</th>
                      <th hidden>Year</th>
                      <th hidden>Sem</th>
                      {% for session in session_id_lst %}
                      <th>{{ session.session_id }} <br>
                      {{session.date}}
                      </th>
                      {% endfor %}
                      <th>Total</th>
                  </tr>
              </thead>
              <tbody>
                  {% for student in students %}
                  <tr>
                      <td>{{ student.stud_roll_no }}</td>
                      <td>{{ student.stud_name }}</td>
                      <td hidden>{{ student.branch }}</td>
                      <td hidden>{{ student.year_of_admission }}</td>
                      <td hidden>{{ student.stud_div }}</td>


                      {% for session in session_id_lst %}
                        <td>
                          {% for attend in attendance %}
                             {% if attend.roll_no == student.stud_roll_no %}
                             
                              {% if attend.session_id == session.session_id %}
                               
                                {% if attend.is_present == True %}
                                 Present 
                                {% else %}
                                Absent
                                {%endif%}

                                  
                              {% endif %}
                             
                             {% endif %}
                          {% endfor%}
                        </td>
                    {% endfor %}

                      <td>{{ student.total_attendance }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      
      


    </div>


</div>


{% endblock %}