*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif ;
}
 
/* navbar */
.navbar {  
    border: none!important;
   
 }


  .text {
    color: white;
    position: absolute;
    transition: opacity 300ms;
    user-select: none;
    -moz-user-select: none;
  }


#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background: #37517e;
    padding: 20px !important;
}

.navbar-brand img{
    height: 40px;
    padding-left: 28px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-toggler{
    outline: none !important;
}
#sign-in-btn{
    align-items: center;
    background-color: #37517e;
    border: 2px solid #1270F0 ;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    text-decoration: none;
}
#sign-in-btn:hover,
          #sign-in-btn:focus { 
            background-color: #1270F0;
            color: #ffffff;
          }

          .button-18:active {
            background: #37517e;
            color: rgb(255, 255, 255, .7);
          }

          .button-18:disabled { 
            cursor: not-allowed;
            background: rgba(0, 0, 0, .08);
            color: rgba(0, 0, 0, .3);
          }


/* ------------------------------------ BANNER SECTON -------------------------------------------------- */

#banner{
    /* background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    background: #37517e;
    color: #fff;
    top: 5%;
}

.my-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.title-image-btn{
    width: 45px;
    margin: 20px;

}
#banner a{
    color: #fff;
    text-decoration: none;
}
.bottom-img{
    width: 100%;
    margin-top: -25%;
}




/* ------------------------------------ SERVICES SECTON -------------------------------------------------- */

#services{
    padding: 81px 0;
}

.service-img{
    width: 100px;
    margin-top: 20px;
}
.services{
    padding: 20px;
}

.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title::before {
    content: '';
    background: #ddd;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(70.5px);
}

.title::after {
    content: '';
    background-color: #37517e;
    height: 6px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(16px);
    
   
}



@keyframes moveLineAnimation {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
}

#services .btn-primary{
    box-shadow: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 150px;
    background-color:#1270F0;
}
#services .btn-primary:hover {
    background-color: #2B83FB; /* Change the background color on hover */
}

#about-us{
    background-color: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title{
    font-size:36px;
    font-weight: 600;
    margin-top: 8% ;
}

#about-us ul li{
    margin:10px 0;
}

#about-us ul{
    margin-left:20px 0;
}
/* ------------------------- testimonial section ---------------- */

#testimonials {
    margin: 100px 0;
}

.testimonials {
    border-left: 4px solid #37517e;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.user-details{
    display: inline-block;
    font-size: 12px;
}


/* ------------------------------FOOTER-----------------------*/
footer{
background-color: #e9ecef; 
padding: 40px;
} 