{% extends "accounts/accountbase.html" %}
{% load static %}

{% block content %}
    <div class="card">
        <div class="card-body py-5 px-md-5">
            <form id="login-form" method="post">
                {% csrf_token %}
                <h1>Login Page</h1><br>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Email</label>
                    {{ form.email }}
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4">Password</label>
                    {{ form.password }}
                </div>

                <button type="submit" id="login_btn" class="btn btn-primary btn-block mb-4">
                    Sign in
                </button>
                <br>

                <div class="text-center">
                    <a href="{% url 'register' %}">
                        <p>I don't have an account</p>
                    </a>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
