{% load static %}
<!--About Us Content-->
<div class="container">
    <h1 class="title text-center" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500" >Why Choose Us ?</h1>

    <div class="row">
        <div class="col-md-6 about-us" data-aos="fade-right" data-aos-easing="ease" data-aos-delay="600">
            <p class="about-title"  >Why FingerPrint Based Attendance ?</p>
            <ul>
                <li>Enhanced Security</li>
                <li>Accurate and Reliable Tracking</li>
                <li>Quick and Convenient</li>
                <li>Cost-Effective</li>
                <li>Non-Transferable</li>
                <li>Real-time Attendance Updates</li>
                <li>Integration with Technology</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="{% static "img/teacher/hero-img.png" %}" class="img-fluid" data-aos="zoom-in" style="transition: transform 0.8s ease;">
        </div>
    </div>
</div>
<!--About Us End Content-->