{% load static %}
<!--Banner Content-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
        
        
            <p class="my-title"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500" >FingerPrint Based Attendance System</p>
            <p data-aos="fade-up" data-aos-easing="ease" data-aos-delay="5580">Let's automate and ease the traditional attendance system trhough Technology</p>
                            
        </div>

        <div class="col-md-6 text-center" >
            <img src="{% static "img/teacher/why-us.png" %}" alt="side-image" class="img-fluid" data-aos="zoom-in" style="transition: transform 0.8s ease;">
        </div>
    </div>
</div>

<img src="{% static "img/teacher/svg (7).png" %}" alt="bottom-image" class="bottom-img">
<!--Banner End Content-->