{% load static %}
<!--Servies Content-->
<div class="container text-center">
    <h1 class="title" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300" >WHAT WE DO ?</h1> 
    <div class="row text-center">
        <div class="col-md-4 services text-center aos" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300"  style="transition: transform 0.8s ease;"  >
            <img src="{% static "img/teacher/services/fingerprint-scanner-icon.png" %}" class="service-img">
            <h4>Biometric Attendance</h4>
            <p>Fingerprint Based Attendance System for Students. For that students Profile must be created as an Enrollement</p>
        </div>

        <div class="col-md-4 services text-center" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400"  style="transition: transform 0.8s ease;" >
            <img src="{% static "img/teacher/services/lecture.png" %}" class="service-img" >
            <h4>Schedule Class</h4>
            <p>Teachers can schedule classes for students to mark attendance. For that, the teacher has to create a session for the particular subject.</p>
        </div>

        <div class="col-md-4 services text-center" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500"  style="transition: transform 0.8s ease;" >
            <img src="{% static "img/teacher/services/reportgenrate.png" %}" class="service-img">
            <h4>Report Generation</h4>
            <p>Teachers can also generate attendance summaries for particular sessions via automatic report generation.</p>
        </div>
    </div>
    <button type="button" class="btn btn-primary" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500"   style="transition: transform 0.8s ease;" >All Services</button>
</div>

<!--Servies End Content-->