{% load static %}\
<!--Group Members Content-->
<div class="container">
    <h1 class="title text-center" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500">Team Members</h1>
    <div class="row">
        <div class="col-md-4  testimonials" data-aos="fade-left" data-aos-easing="ease" data-aos-delay="600">
            <p>Flask and Django</p>
            <img src="{% static "img/teacher/team/newimage3.jpg" %}" alt="">
            <p class="user-details"><b>Rohit Singh</b> <br>Software Developer</p>
        </div>

        <div class="col-md-4 testimonials" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="600">
            <p>Data Science & Machine Learning</p>
            <img src="{% static "img/teacher/team/newimage2.jpg" %}" alt="">
            <p class="user-details"><b>Rohan Shahabaje</b> <br>ML Engineer</p>
        </div>

        <div class="col-md-4 testimonials" data-aos="fade-right" data-aos-easing="ease" data-aos-delay="600">
            <p>Embeded System and Python Developer</p>
            <img src="{% static "img/teacher/team/newimage1.jpg" %}" alt="">
            <p class="user-details"><b>Nikhil Shikhare</b> <br>IOT Engineer</p>
        </div>
    </div>
</div>

<!--Group Members End Content-->