{% load static %}

 <!-- ======= About Us Section ======= -->
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            We are dedicated to providing innovative solutions for educational institutions to efficiently manage attendance records. 
            Our system leverages advanced technology to ensure accuracy and security in attendance tracking.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Streamlined attendance recording for hassle-free administration</li>
            <li><i class="ri-check-double-line"></i> Enhanced security features for safeguarding sensitive data</li>
            <li><i class="ri-check-double-line"></i> Real-time updates and insights for educators and administrators</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
                Welcome to our Attendance Management System, where we revolutionize the way educational institutions handle attendance tracking. With a focus on efficiency, accuracy, and security, our system incorporates advanced biometric technology and real-time data processing to provide a seamless solution for both educators and students. We are committed to enhancing the educational experience by simplifying administrative tasks
              </p>
          <a href="#" class="btn-learn-more">Learn More</a>
        </div>
      </div>

    </div>
<!-- End About Us Section -->

